.about {
  padding: 120px 0px 60px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background-color: var(--mainColor);
    border-radius: 50%;
    filter: blur(150px);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .box {
      flex-basis: 24%;
      @media (min-width: 772px) and (max-width: 992px) {
        flex-basis: 48%;
      }
      @media (max-width: 772px) {
        flex-basis: 100%;
      }
      padding: 10px 15px;
      border: 1px solid #8e51ff;
      border-radius: 6px;
      transition: var(--trans);
      &:nth-child(4) {
        background-color: #8e51ff;
        svg {
          color: var(--whiteColor) !important;
        }
      }
      &:nth-child(2) {
        @media (max-width: 772px) {
          background-color: #8e51ff;
          svg {
            color: var(--whiteColor) !important;
          }
        }
      }
      &:hover {
        background-color: var(--mainColor);
        svg {
          color: var(--whiteColor) !important;
        }
      }
      span {
        display: block;
      }
      > * {
        margin-bottom: 20px;
      }
      h2 {
        font-size: 24px;
        letter-spacing: 1.2px;
      }
      p {
        font-size: 14px;
        color: #fff8;
        line-height: 2;
      }
    }
  }
}
