.copyright {
  border-top: 1px solid #8e51ff;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width:772px) {
    font-size: 20px;
  }
  span {
    display: inline-flex;
    margin-left: 5px;
    color: #8e51ff;
    align-items: center;
    gap: 5px;
  }
  svg {
    margin-left: 10px;
  }
}